<nav>
    <div class="site-title"> 
        <a href="/"><h4>Moringa courses</h4></a>
        <p>Discover &nbsp; Grow &nbsp; Transform</p>
    </div>
    <ul>
        <li><a href="/">Courses</a></li>
        <li><a href="/about">Course details</a></li>
        <li><a href="/courses/create">Add new course</a></li>
    </ul>
</nav>